/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2017, 4:33:43 PM
    Author     : raymondm
*/
.nav{
    margin-left: 10px;
    margin-right: 30px;
}
.list-unordered {  
    list-style: none; 
    font-size: 14px;
    /*    width: 200px; */
    text-indent: -5px; 
    margin-bottom: 10px;
    margin-left: 10px;
    /*    line-height: 30px;
        padding: 10px;*/
}
.list-ordered { 
    margin-bottom: 0px;
}
